services:
  - type: web
    name: paylink-backend
    env: node
    rootDir: backend
    buildCommand: npm install --no-audit --no-fund && npm run build
    startCommand: npm run start
    plan: free
    autoDeploy: true
    healthCheckPath: /api/health
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: RPC_URL
        sync: false
      - key: CONTRACT_ADDRESS
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: RECEIPT_NFT_ADDRESS
        sync: false

